.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2937; /* тёмно-серый */
  padding: 1rem 2rem;
  color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.navbar-logo img.navbar-image {
  height: 50px;
  cursor: pointer;
  object-fit: contain;
}


.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #60a5fa;
}

.logout-button {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #dc2626;
}
